{# liste des 10 restau + barre recherche adresse proche #}

{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}


{% block content %}

    {{ parent() }}

    <div style="min-height: 10vh;background-color: #6fd76f;font-weight:bold;font-size:2rem;display:flex;align-items:center;padding-left:2vw;">
		Liste des restaurants
	</div>

    {# TODO : à implémenter #}
    {# {% include "component/category-sidebar.html.twig" %} #}

    <div id="restaurants">
        <div class="container" style="max-width:1400px;">
            <div class="row">
                {% for restaurant in restaurants %}
                    {% set total = 0 %}
                    {% set nbNote = 0 %}

                    {% for note in notes %}
                        {% if note.restaurant == restaurant %}
                            {% set nbNote = nbNote + 1 %}
                            {% set total = total + note.note %}
                        {% endif %}
                    {% endfor %}

                    {% if nbNote != 0 %}
                        {% set note = (total / nbNote)|number_format(1) ~ "⭐" %}
                    {% else %}
                        {% set note = "" %}
                    {% endif %}


                    <div class="col" style="flex-grow: unset; display: flex;justify-content: center;align-items: center; margin-bottom: 2vh; min-width: 18vw; max-height:55vh;">
                        {% include 'component/restaurant-card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
