{# liste des 10 restau + barre recherche adresse proche #}

{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}


{% block content %}
    {{ parent() }}

    {# TODO : à implémenter #}
    {# {% include "component/category-sidebar.html.twig" %} #}

    <div id="restaurants">
        <div class="container" style="max-width:1400px;">
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="col" style="flex-grow: unset; display: flex;justify-content: center;align-items: center; margin-bottom: 2vh; min-width: 18vw; max-height:45vh;">
                        {% include 'component/restaurant-card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
